{:paths ["src" "target/classes"]
 :deps {techascent/tech.ml.dataset {:mvn/version "7.000-beta-3"}
        criterium/criterium {:mvn/version "0.4.5"}
        uncomplicate/neanderthal {:mvn/version "0.43.0"}}
 :aliases
 {;; Run with clj -T:build function-in-build
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}}
   :ns-default build}
  :jdk-17 {:jvm-opts ["--add-modules" "jdk.incubator.vector"]}}}
